@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --black:          #333333;
  --orange:         #CC6633;
  --green:          #A4CC33;
  --whiteLightness: 100%;
  --white:          hsl(0, 0%, var(--whiteLightness));
  --grayF4:         hsl(0, 0%, calc(var(--whiteLightness) - 4%));
  --greyF3:         hsl(0, 0%, calc(var(--whiteLightness) - 5%));
  --greyEC:         hsl(0, 0%, calc(var(--whiteLightness) - 7%));
  --greyD9:         hsl(0, 0%, calc(var(--whiteLightness) - 15%));
  --greyC4:         hsl(0, 0%, calc(var(--whiteLightness) - 23%));
  --grey99:         hsl(0, 0%, calc(var(--whiteLightness) - 40%));
  --grey66:         hsl(0, 0%, calc(var(--whiteLightness) - 60%));
  --greyF5: rgba(9, 9, 9, 0.21);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--grayF4);
  font-size: 12px;
  line-height: 16px;
  font-family: 'Roboto', serif;
}

* {
  outline: none;
  color: var(--black);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {

  border: 0;
  cursor: pointer;
  padding: 0;
  background: transparent;
}


circle {
  transition: 0.3s ease-in-out;
}

circle:hover {
  fill: rgba(20, 13, 14, 0.43);
}

circle:active {
  fill: rgba(20, 13, 14, 0.43);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  min-width: auto;
  padding: 0 15px;
}




.button-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
}


.button-container button {
  padding: 12px 24px;
  border-radius: 12px;
  transition: 0.3s ease-in-out;
}

.button-container button:not(:last-child) {
  margin-bottom: 20px;
}

.section-content {
  padding-top: 80px;
  padding-bottom: 50px;
}


.header__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header__title {
  padding: 0;
  margin: 0 27px 0 0;
  font-size: 20px;
  line-height: 33px;
}

.header {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  position: relative;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content svg {
  max-width: 500px;
  max-height: 500px;
}



.pay-container {
  /* display: flex; */
  /* flex-direction: row; */
  background-color: var(--white), 0.8;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding: 0px 0px;
  transform: scaleY(0);
  top: 100%;
  width: 100%;
  position: absolute;
  transition: .5s ease-in-out transform;
}

.for-pay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pay-container ul {
  display: flex;
  flex-direction: row;
}

.pay-container button {
  background-color: transparent;
  padding: 0;
}

.pay-container ul li:not(:last-child) {
  margin-right: 2%;
}

.container-svg {
  max-width: 1400px;
  margin: 0 auto;
  min-width: auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}




.tippy-box[data-theme~='my-theme'] {
  background-color: white;
  padding: 5px;
  color: white;
  font-family: 'opensans';
  font-size: 12px;
  border-radius: 7px;
  font-weight: 700;
}




@media all and (min-width: 1024px) {
  .header {
    padding: 40px 0;
  }

  .pay-container {
    padding: 40px 0px;
  }

  .section-content {
    padding-top: 120px;
  }

  .open-content {
    padding: 40px 0px;
  }

  button {
    background:  var(--greyF5);
    padding: 12px 24px;
    border-radius: 12px;

    transition: 0.3s ease-in-out;
  }

  button:hover {
    background: rgba(20, 13, 14, 0.43);
  }

  button:active {
    background: rgba(20, 13, 14, 0.19);
  }
}

@media all and (min-width: 1540px) {
  .header {
    padding: 67px 0;
  }
}





